/* PLYWOOD JS */

.ply-name {
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    padding: 4px;
}


/* PLYWOOD ENDS */

/* FOOTER JS */

.f-container {
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 10px 50px;
    padding: 5px;
}

.f-links {
    color: inherit;
    text-decoration: none;
}

.q-links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
}

.q-l:hover {
    color: black;
    text-decoration: underline 2px;
}

.q-links>a {
    text-decoration: none;
    cursor: pointer;
    text-align: start;
}

.last-line {
    text-align: center;
}

@media (max-width: 500px) {
    .f-container {
        margin: 10px 30px;
        padding: 5px;
    }
}

@media (max-width: 325px) {
    .f-container {
        margin: 10px 15px;
        padding: 5px;
    }
}

/* FOOTER ENDS */