.f-container{
    margin: 10px 50px;
    background-color: rgb(134, 109, 157);
    border: 2px solid;
    padding: 5px;
    text-align: center;
}

.f-links{
    color: inherit;
    text-decoration: none;
}


@media (max-width: 500px) {
    .f-container{
        margin: 10px 30px;
        padding: 5px;
    }    
}

@media (max-width: 325px) {
    .f-container{
        margin: 10px 15px;
        padding: 5px;
    }    
}