*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
}

.App {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(231, 230, 241);
    color: rgb(64, 6, 119);
    /* color: #6E0070; */
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.b-container{
    margin: 10px 50px;
    padding: 5px;
}

@media (max-width: 500px) {
    .b-container{
        margin: 10px 30px;
        padding: 5px;
    }    
}

@media (max-width: 325px) {
    .b-container{
        margin: 10px 15px;
        padding: 5px;
    }    
}